/* global */
@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #152563;
    color: #dbdbdb;

}

h2,.white{
    color: #fff;
}

a{
    color: #dbdbdb;
}
.footer{
    padding-top: 10vh;
    max-width: 500px;
    margin: auto;
    text-align: left;
}
/* section 1 */

.section-1{
    padding-top: 10vh;
    max-width: 500px;
    margin: auto;
    text-align: left;
}

.section-1 p{
    font-size: 1.1rem;
    padding-bottom: 10px;
    margin:0;
}

.section-1 h2{
    font-size: 1.7rem;
    margin-bottom: 10px;
}

/* media queres */
@media(max-width:780px){
    .grid-2{
        grid-template-columns: 1fr;
    }
    .section-1{
        padding:0;
        padding-top: 5rem;
    }
    .section-2{
        padding: 0;
        padding-left: 1.5rem;
        padding-top: 2rem;
    }
}
