/* global */
@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #152563;

}

h2,.white{
  color: #152563;
}

a{
  color: #152563;
}
.footer{
  padding-top: 10vh;
  max-width: 500px;
  margin: auto;
  text-align: left;
}
/* section 1 */

.section-1{
  padding-top: 10vh;
  max-width: 500px;
  margin: auto;
  text-align: left;
}

.section-1 p{
  font-size: 1.1rem;
  padding-bottom: 10px;
  margin:0;
}

.section-1 h2{
  font-size: 1.7rem;
  margin-bottom: 10px;
}

.title {
  text-align: left;
  position: relative|;
  bottom: 0;
  left: 0;
}

.grid-install {
  display: grid;
  grid-template-columns: 128px 1fr;
}

.grid-container {
  display: grid;
  grid-template-columns: 128px 1fr;
}

.grid-center {
  align-self: center
}
/* media queres */
@media(max-width:780px){
  .grid-2{
    grid-template-columns: 1fr;
  }
  .section-1{
    padding:0;
    padding-top: 5rem;
  }
}
